@use '/src/Shared/Consts/Breakpoints.module' as Breakpoints;
@use '/src/Shared/Consts/Colors.module' as Colors;
@use '/src/Shared/Consts/Sizes.module' as Sizes;
@use '/src/Shared/Consts/Typography.module' as Typography;
@use '/src/Shared/Consts/Utils.module' as Utils;

.paragraph {
  line-height: Typography.$lineHeightRelaxed;
}

.howItWorks {
  @include Utils.flexColumn;
  gap: Sizes.$gapL;
  width: 100%;
  padding-top: Sizes.$gapXXL;
  border-top: 1px solid Colors.$separator;
}

.steps {
  @include Utils.flexColumn;
  gap: Sizes.$gapXXL;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.step {
  gap: Sizes.$gapL;
}

@media screen and (max-width: Breakpoints.$mobile) {
  .step {
    gap: Sizes.$gapM;
  }
}
