{
  "semi": true,
  "tabWidth": 2,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "@/components/Entities",
    "@/components/Features",
    "@/components/Widgets",
    "\\.scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
