.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.outerVignetteDark {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}

.centerVignetteDark {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 60%
  );
}

.outerVignetteLight {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 58%,
    rgba(255, 255, 255, 0.96) 100%
  );
}

.centerVignetteLight {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}
