@use '/src/Shared/Consts/Sizes.module' as Sizes;
@use '/src/Shared/Consts/Colors.module' as Colors;
@use '/src/Shared/Consts/Fonts.module' as Fonts;
@use '/src/Shared/Consts/Breakpoints.module' as Breakpoints;
@use '/src/Shared/Consts/Utils.module' as Utils;

.wrapper {
  @include Utils.flexRow;
  gap: Sizes.$gapXS;
  cursor: default;
}

.codering {
  @include Fonts.codeRing;
  color: Colors.$white;
  font-size: 20px;
  transform: translateY(2px);
}

@media screen and (max-width: Breakpoints.$mobile) {
  .codering {
    font-size: 16px;
  }
}