@use '/src/Shared/Consts/Breakpoints.module' as Breakpoints;
@use '/src/Shared/Consts/Colors.module' as Colors;
@use '/src/Shared/Consts/Sizes.module' as Sizes;

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: Sizes.$gapXL;
  width: 100%;
}

.card {
  padding: Sizes.$gapXL;
  background-color: Colors.$background;
  border: 1px solid Colors.$separator;
  border-radius: Sizes.$borderRadiusL;
}

@media screen and (max-width: Breakpoints.$mobile) {
  .grid {
    grid-template-columns: 1fr;
  }
}
