$background: #1a1a1a;
$surface: #252525;
$surfaceHover: #2c2c2c;
$surfaceActive: #363636;
$separator: #333333;
$white: #e1e1e1;
$whiteHover: #d6d6d6;
$whiteActive: #cccccc;
$black: #1a1a1a;
$gray: #505050;
$grayHover: #454545;
$grayActive: #3B3B3B;
$subtitle: #999;
$error: #ff5252;
$errorHover: #f44747; //f44848
$errorActive: #ea3d3d; //c23e3e
$success: #3fb950;
$warning: #e3b341;
$info: #4493f8;