@use '/src/Shared/Consts/Breakpoints.module' as Breakpoints;
@use '/src/Shared/Consts/Sizes.module' as Sizes;

.layout {
  display: flex;
  flex-direction: column;
  gap: Sizes.$gapXXXL;
  width: auto;
  margin: calc(-1 * Sizes.$pagePadding);
}

.navBarWrapper {
  position: fixed;
  top: Sizes.$pagePadding;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}

.navBarWrapper > * {
  pointer-events: auto;
}

@media screen and (max-width: Breakpoints.$mobile) {
  .layout {
    gap: Sizes.$gapL;
  }
}
