@use '/src/Shared/Consts/Sizes.module' as Sizes;

.layout {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: calc(-1 * Sizes.$pagePadding);
}

.navBarWrapper {
  position: fixed;
  top: Sizes.$pagePadding;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}

.navBarWrapper > * {
  pointer-events: auto;
}
