@use '/src/Shared/Consts/Colors.module' as Colors;

.loadingScreen {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: Colors.$background;
}
